In [1]:
l = [ 2,4,5,3223,554,34]

In [2]:
l.sort()

In [3]:
l

[2, 4, 5, 34, 554, 3223]

In [4]:
l2 = 32, "rishu", 32,sd]

<class 'SyntaxError'>: unmatched ']' (<ipython-input-4-d989ee8f386c>, line 1)

In [6]:
l3 = [ "rishu","bhusan","data type", "kumar"]

In [7]:
l3.sort()

In [8]:
l3

['bhusan', 'data type', 'kumar', 'rishu']

In [9]:
l3.sort(reverse=True)

In [10]:
l3

['rishu', 'kumar', 'data type', 'bhusan']

In [11]:
l3

['rishu', 'kumar', 'data type', 'bhusan']

In [12]:
l3.index("rishu")

0

In [13]:
l3.index("data type")

2

In [15]:
l3.count("rishu")

1

In [17]:
x= "sidhu"

In [20]:
x[0] = 'r'

<class 'TypeError'>: 'str' object does not support item assignment

In [21]:
l4 = [4,3,5,3,3]

In [23]:
l4[0]=34

In [24]:
l4

[34, 3, 5, 3, 3]

In [25]:
x

'sidhu'

In [27]:
x.replace('s','r')

'ridhu'

In [28]:
x

'sidhu'

In [29]:
t=(2,34,5,5,6, "rishu",423.345,False,42+7j)

In [30]:
type(t)

tuple

In [31]:
t[0]

2

In [32]:
t[:-1]

(2, 34, 5, 5, 6, 'rishu', 423.345, False)

In [33]:
t[::-1]

((42+7j), False, 423.345, 'rishu', 6, 5, 5, 34, 2)

In [34]:
l

[2, 4, 5, 34, 554, 3223]

In [35]:
l2

<class 'NameError'>: name 'l2' is not defined

In [36]:
l3

['rishu', 'kumar', 'data type', 'bhusan']

In [37]:
l3[0]=45

In [38]:
l3

[45, 'kumar', 'data type', 'bhusan']

In [39]:
t[0]="rishu"

<class 'TypeError'>: 'tuple' object does not support item assignment

In [40]:
t[::-1]

((42+7j), False, 423.345, 'rishu', 6, 5, 5, 34, 2)

In [41]:
t.count(45)

0

In [42]:
t.index(False)

7

In [43]:
t

(2, 34, 5, 5, 6, 'rishu', 423.345, False, (42+7j))

In [44]:
s = {}

In [45]:
type(s)

dict

In [47]:
s1 = {2,3,4,6}

In [48]:
type(s1)

set

In [49]:
s2={324,444,444,"rishu",45+7j,(3,4,5)}

In [50]:
s2

{(3, 4, 5), (45+7j), 324, 444, 'rishu'}

In [53]:
s3={2,3,3,3,3,34,5,5,5,5,5,322,3,32,"rishu","sidhu"}

In [54]:
s3

{2, 3, 32, 322, 34, 5, 'rishu', 'sidhu'}

In [55]:
l3 = list(set(l3))

In [56]:
l3

['data type', 'kumar', 'bhusan', 45]

In [57]:
s2

{(3, 4, 5), (45+7j), 324, 444, 'rishu'}

In [60]:
s4 = {12,3,4,1,4,5,54,2,3,'rishu'}

In [61]:
s4.add(11111)

In [62]:
s4

{1, 11111, 12, 2, 3, 4, 5, 54, 'rishu'}

In [63]:
s4.remove(1)

In [64]:
s4

{11111, 12, 2, 3, 4, 5, 54, 'rishu'}

In [65]:
s4.remove(0)

<class 'KeyError'>: 0

In [67]:
s4.copy(12)

<class 'TypeError'>: set.copy() takes no arguments (1 given)